<html>
    <head>
        <title>Dalios laisvalaikio džiaugsmai</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Dalios nedarbo užsiėmimai</a></h1>
        </div>

        <div>
            <p>published: 2017-11-18, 16:35</p>
            <h2><a href="">Mano pirmasis įrašas</a></h2>
            <p>Vargau, vargau visą gražų šeštadienį, ir štai, parašiau va tokį sakinuką. Nesu įsitikinusi, kad man viskas aišku, ką aš čia padariau.</p>
        </div>

        <div>
            <p>published: 2017-11-18, 16:37</p>
            <h2><a href="">Mano antrasis įrašas</a></h2>
            <p>Bet gal ir visai įdomus užsiėmimas, kaip sako britų mokslininkai - vis geriau, nei korteles surašinėti.</p>
        </div>
    </body>
</html>